<!DOCTYPE html>
<html>
<head></head>
<body>

                    <form class="form-horizontal" method="POST" action="ajoutlivraison.php">
						<fieldset>
								
								<!-- Form Name -->
								<legend></legend>
								
								<!-- Text input-->
								<div >
            								<label class="control-label">Nom *</label>
            								<div class="controls">
              								<input type="text" title="entrer votre nom" name="nom">
            								</div>
          						</div>
								
								<div >
            								<label class="control-label">Prenom *</label>
            								<div class="controls">
              								<input type="text" title="entrer votre prenom" name="prenom">
            								</div>
          						</div>
          						<div >
            								<label class="control-label">adresse *</label>
            								<div class="controls">
              								<input type="text" title="entrer votre adresse" name="adresse">
            								</div>
          						</div>
          						<div >
            								<label class="control-label">region *</label>
            								<div class="controls">
              								<input type="text" title="entrer votre region" name="region">
            								</div>
          						</div>
          						<div >
            								<label class="control-label">ville *</label>
            								<div class="controls">
              								<input type="text" title="entrer votre ville" name="ville">
            								</div>
          						</div>
          						
          						<div >
            								<label class="control-label">codepostal *</label>
            								<div class="controls">
              								<input type="text" title="entrer votre codepostal" name="codepostal">
            								</div>
          						</div>
          							<div >
            								<label class="control-label">Telephone *</label>
            								<div class="controls">
              								<input type="text" title="entrer votre telephone" name="telef">
            								</div>
          						</div>
          						<div >
            								<label class="control-label">Email *</label>
            								<div class="controls">
              								<input type="text" title="entrer votre email" name="email">
            								</div>
          						</div>
          						<div >
            								<label class="control-label">Password *</label>
            								<div class="controls">
              								<input type="text" title="entrer votre password" name="password">
            								</div>
          						</div>

							

					<div class="size12 trans-0-4 m-t-10 m-b-10 m-r-10">
						<!-- Button -->
						
<input type="submit" name="submit" value="ajouter">
           <!-- <button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">
							Enregistrer
						</button>-->
					</div>


								
						</fieldset>
					</form>
               </div>

             </body>
             </html>